@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin-top: 20px;
}

h1 {
  color: black;
}

.screen {
  cursor: pointer;
  width: 60%;
  padding: 15px;
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.controls {
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: green;
}

.controls .fa-pause {
  color: white;
}

.controls .fa-stop {
  color: red;
}

.timestamp {
  color: white;
  font-weight: normal;
  margin-left: 3px;
}

.btn:focus {
  outline: none;
}
